
<div class="row">
    <div class="col-md-2">
      <ul>
        <li><button (click)="googleSet()" >Google</button></li>
        <li><button (click)="kibanaSet()">kibana</button></li></ul>
       
       
    </div>
    <div class="col-md-10">
      <div *ngIf="isKibana">
        <!-- <app-kibana></app-kibana> -->
        <iframe width="100%" height="100%" [src]="getLink()" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

      </div>
      <div *ngIf="isGoogle">
         <!-- <app-google></app-google>  -->
         <!-- <iframe src="http://www.google.com" width="100%" height="100%" ></iframe> -->
         <iframe src="http://localhost:8080/auth" width="100%" height="100%" ></iframe> 
        <!-- <a [routerLink]="['google']">
          link to user component
        </a> -->

      </div>
    </div>
</div>
<!-- <a href="google">google</a><br>
<a href="kibana">kibana</a> -->
      